html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: gray;
    text-align: center;
}

h3 {
    color: gray;
    text-align: right;
}

a {
    color: aquamarine;
    text-align: center;
}

.images {
    display: block;
    margin: 0 auto;
}

video {
    margin: 0 auto;
}